@use "colors";
@use "fonts";
@use "screens";

* {
	box-sizing: border-box;
}

body {
	background: colors.$neutral-t3;
	margin: 0px;
	padding: 0px;
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
}

@media (min-width: screens.$tablet) {
	.container {
		width: 750px;
	}
}
@media (min-width: screens.$laptop) {
	.container {
		width: 970px;
	}
}
@media (min-width: screens.$desktop) {
	.container {
		width: 1170px;
	}
}

.center {
	display: flex;
	justify-content: center;
}
