@use "colors";
@use "screens";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Ropa+Sans&family=Titillium+Web&display=swap");

$title: "Poppins", sans-serif;
$subtitle: "Ropa Sans", sans-serif;
$general: "Titillium Web", sans-serif;

body,
input,
textarea,
button {
	font-family: $general;
	color: colors.$dark-text;
	@media (max-width: screens.$tablet) {
		font-size: 0.9rem;
	}
	@media (min-width: screens.$tablet) {
		font-size: 1rem;
	}
}

h1,
.h1 {
	font-family: $title;
	@media (max-width: screens.$tablet) {
		font-size: 3rem;
	}
	@media (min-width: screens.$tablet) {
		font-size: 3.5rem;
	}
}

h2,
.h2 {
	font-family: $title;
	@media (max-width: screens.$tablet) {
		font-size: 2.2rem;
	}
	@media (min-width: screens.$tablet) {
		font-size: 2.5rem;
	}
}

h3,
.h3 {
	font-family: $subtitle;
	@media (max-width: screens.$tablet) {
		font-size: 1.5rem;
	}
	@media (min-width: screens.$tablet) {
		font-size: 1.8rem;
	}
}

h4,
.h4 {
	font-family: $subtitle;
	@media (max-width: screens.$tablet) {
		font-size: 1.2rem;
	}
	@media (min-width: screens.$tablet) {
		font-size: 1.5rem;
	}
}

h5,
.h5 {
	font-family: $subtitle;
	@media (max-width: screens.$tablet) {
		font-size: 1rem;
	}
	@media (min-width: screens.$tablet) {
		font-size: 1.2rem;
	}
}

h6,
.h6 {
	font-family: $subtitle;
	@media (max-width: screens.$tablet) {
		font-size: 0.9rem;
	}
	@media (min-width: screens.$tablet) {
		font-size: 1rem;
	}
}

small,
.small {
	font-size: 0.7rem;
}
