@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Ropa+Sans&family=Titillium+Web&display=swap");
$title: "Poppins", sans-serif;
$subtitle: "Ropa Sans", sans-serif;
$general: "Titillium Web", sans-serif;
