@use "colors";
@use "buttons";
@use "fonts";
@use "screens";

@import "fonts.scss";

$height: 80px;

nav {
	position: relative;
	z-index: 3;
	background-color: colors.$accent-s4;
	color: colors.$light-text;
	height: $height;
	display: flex;
	@media (max-width: screens.$tablet) {
		flex-direction: column;
		align-items: center;
	}
	@media (min-width: screens.$tablet) {
		flex-direction: row;
		align-items: flex-start;
	}

	.nav-header {
		flex-shrink: 0;
		height: 100%;
		transition: height 0.4s ease-in-out;

		@media (max-width: screens.$tablet) {
			padding: 0rem 1.5rem;
			width: 100%;
			display: flex;
			justify-content: space-between;
		}
		@media (min-width: screens.$tablet) {
			padding: 0rem 3rem;
			width: auto;
		}

		.website-logo {
			height: 100%;
			padding: 1rem 0rem;
			display: flex;
			align-items: center;
		}

		#nav-toggle {
			@media (min-width: screens.$tablet) {
				display: none;
			}
			height: 100%;
			width: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			font-size: fonts.$size_h4;
			padding: 0rem 1rem;
			height: 100%;
			transition: all 0.2s ease-in-out;
		}
		#nav-toggle:hover {
			background-color: colors.$accent;
		}
	}

	@media (max-width: screens.$tablet) {
		#nav-list:not(.active) {
			display: none;
		}
	}

	#nav-list {
		flex-grow: 1;
		flex-shrink: 1;
		height: 100%;
		transition: height 0.4s ease-in-out;
		list-style: none;
		margin-left: 0%;
		margin-right: 2%;

		.nav-spacer {
			flex-grow: 1;
			flex-shrink: 1;
		}

		@media (max-width: screens.$tablet) {
			display: inline-block;
			width: 100%;
			background-color: colors.$accent-s3;
		}
		@media (min-width: screens.$tablet) {
			display: flex;
			flex-direction: row;
			justify-content: start;
		}
		.push-right {
			margin-left: auto;
		}

		li {
			@media (max-width: screens.$tablet) {
				height: 80%;
				border-bottom: 1px solid colors.$accent-s4;
				background-color: colors.$accent-s2;
			}
			@media (min-width: screens.$tablet) {
				height: 100%;
				display: inline-block;
			}

			a {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				padding: 0rem 1rem;
				@include font-size(fonts.$size_h6);
				color: colors.$light-text;
				cursor: pointer;
				transition: all 0.2s ease-in-out;
			}
			a:hover {
				background-color: colors.$accent;
			}
		}
	}
}
