@mixin flex-col {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.flex-col-center {
	@include flex-col;
	align-items: center;
}

.flex-col-start {
	@include flex-col;
	align-items: start;
}

.flex-col-end {
	@include flex-col;
	align-items: end;
}
@mixin flex-row {
	display: flex;
	flex-direction: row;
}
.flex-row-center {
	@include flex-row;
	justify-content: center;
	align-items: center;
}

.flex-row-start {
	@include flex-row;
	justify-content: start;
	align-items: center;
}

.flex-row-end {
	@include flex-row;
	justify-content: center;
	align-items: end;
}

.flex-row-space-around {
	@include flex-row;
	justify-content: space-between;
	align-items: center;
}
