@use "base";
@use "colors";
@use "fonts";
@use "screens";
@use "buttons";
@use "spacers";
@use "positions";
@use "navbar";

@mixin circle($size) {
	border-radius: 50%;
	overflow: hidden;
	box-shadow: colors.$neutral-t2 0px 2px 8px 0px;
	width: $size;
	height: $size;
}

@mixin flex-circle($mobile-size, $tablet-size, $laptop-size, $desktop-size) {
	@include circle($mobile-size);
	display: flex;
	justify-content: center;
	align-items: center;
	background: colors.$neutral-t4;

	@media (min-width: screens.$tablet) {
		width: $tablet-size;
		height: $tablet-size;
	}
	@media (min-width: screens.$laptop) {
		width: $laptop-size;
		height: $laptop-size;
	}
	@media (min-width: screens.$desktop) {
		width: $desktop-size;
		height: $desktop-size;
	}
}

.main {
	background-color: colors.$subtle;
	box-shadow: colors.$neutral-t3 0px 4px 16px 0px;
	min-height: calc(100vh - 80px);
}

.block {
	border-radius: 10px;
	background: colors.$neutral-t4;
	box-shadow: colors.$neutral-t2 0px 4px 16px 0px;
	width: 100%;
}

.two-panels {
	display: flex;
	justify-content: center;
	@media (max-width: screens.$tablet) {
		flex-direction: column;
	}
	@media (min-width: screens.$tablet) {
		flex-direction: row;
	}
	width: 100%;
	.left-panel {
		@media (max-width: screens.$tablet) {
			width: 100%;
		}
		@media (min-width: screens.$tablet) {
			width: 57.5%;
			margin-right: 2.5%;
		}
	}
	.right-panel {
		@media (max-width: screens.$tablet) {
			width: 100%;
		}
		@media (min-width: screens.$tablet) {
			width: 37.5%;
			margin-left: 2.5%;
		}
	}

	.section {
		margin-bottom: 2rem;
		h4 {
			margin: 0 0 0.8rem 0.8rem;
		}
		.block {
			padding: 1.5rem;
		}

		a:not(.row) {
			color: colors.$accent;
			font-weight: 600;
		}
	}
}

.row-link {
	cursor: pointer;
}
.row-link:hover {
	background: colors.$neutral-t3;
}

.row:last-child {
	border: none;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 80px;
	border-bottom: 1px solid colors.$neutral-t3;
	background: transparent;
	text-decoration: none;
	color: colors.$neutral-s3;

	.col-padding {
		flex-basis: 30px;
		flex-grow: 1.5;
		flex-shrink: 1;
	}

	.col-sm {
		flex-basis: 50px;
		flex-grow: 0;
		flex-shrink: 1;
	}
	.col-md {
		flex-basis: 150px;
		flex-grow: 1;
		flex-shrink: 1;
	}
	.col-lg {
		flex-basis: 200px;
		flex-grow: 1;
		flex-shrink: 0.75;
	}
	.col-xl {
		flex-basis: 400px;
		flex-grow: 1;
		flex-shrink: 0.5;
	}
	.col-combined {
		flex-basis: 400px;
		flex-grow: 1.2;
		flex-shrink: 0.82;
	}
}

.logo {
	@include flex-circle(2.6rem, 3.4rem, 3.7rem, 4rem);

	.logo-inner {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80%;
		height: 80%;
		border-radius: 50%;
		overflow: hidden;

		img {
			width: 100%;
			margin: auto;
			object-fit: contain;
		}
	}
}

.logo-lg {
	width: 4rem !important;
	height: 4rem !important;
}

.esg_score {
	@include flex-circle(2.3rem, 2.8rem, 3.1rem, 3.5rem);
}
.best {
	background-color: colors.$success-t2 !important;
}

.worst {
	background-color: colors.$danger-t2 !important;
}

.key-best {
	@include circle(1rem);
	background-color: colors.$success-t2;
}
.key-worst {
	@include circle(1rem);
	background-color: colors.$danger-t2;
}
.company-details {
	width: 100%;
	tr {
		td:first-child {
			text-align: start;
			font-weight: 600;
		}
		td:last-child {
			text-align: end;
			font-weight: 200;
		}
	}
}

#not-found-message {
	width: 100%;
	position: relative;
	color: colors.$light-text;
	img {
		width: 100%;
		position: relative;
	}
	div {
		width: 100%;
		position: absolute;
		bottom: 0%;
		@media (max-width: screens.$tablet) {
			padding: 10%;
		}
		@media (min-width: screens.$tablet) {
			padding: 5%;
		}
	}
}

.hero {
	width: 100vw;
	height: 600px;
	background-size: cover;

	@media (max-width: screens.$tablet) {
		background-image: -webkit-image-set(
			url("/static/images/homepage-header-MOBILE-SD.jpg") 1x,
			url("/static/images/homepage-header-MOBILE-HD.jpg") 2x
		);
	}
	@media (min-width: screens.$tablet) {
		background-image: -webkit-image-set(
			url("/static/images/homepage-header-SD.jpg") 1x,
			url("/static/images/homepage-header-HD.jpg") 2x
		);
	}
	@media (min-width: screens.$desktop) {
		background-image: url("/static/images/homepage-header-4K.jpg");
	}

	.hero-inner {
		background-image: linear-gradient(
			to bottom,
			rgba(colors.$accent-s4, 1),
			rgba(colors.$accent-t1, 0),
			rgba(colors.$accent-s4, 1)
		);

		width: 100%;
		height: 100%;

		@media (max-width: screens.$tablet) {
			padding: 3%;
		}
		@media (min-width: screens.$tablet) {
			padding: 6%;
		}

		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		text-align: center;

		.hero-title {
			color: colors.$light-text;
			font-size: fonts.$size_h1;
			font-family: fonts.$title;
			font-weight: 600;
			margin: 0.8rem;
		}

		.hero-subtitle {
			color: colors.$light-text;
			font-family: fonts.$subtitle;
			font-weight: 400;
			padding: 0.2rem 0.8rem;
			margin: 0.2rem;
			@media (max-width: screens.$tablet) {
				font-size: fonts.$size_h4;
			}
			@media (min-width: screens.$tablet) {
				font-size: fonts.$size_h3;
			}
		}

		.hero-highlight {
			background-color: colors.$accent;
			font-weight: 600 !important;
			color: colors.$neutral-t4 !important;
			border-radius: 15px;
		}
	}
}

.panel-image-left {
	background-image: linear-gradient(
		to right,
		rgba(colors.$neutral-s2, 1),
		rgba(colors.$neutral-t1, 1),
		rgba(colors.$neutral-t2, 1),
		rgba(colors.$neutral-t2, 1),
		rgba(colors.$neutral-t2, 1)
	);
	color: colors.$dark-text;
}
.panel-image-right {
	background-image: linear-gradient(
		to right,
		rgba(colors.$neutral-s2, 1),
		rgba(colors.$neutral-s2, 1),
		rgba(colors.$neutral-s2, 1),
		rgba(colors.$neutral-s1, 1),
		rgba(colors.$neutral-t2, 1)
	);
	color: colors.$light-text;
}

.panel {
	width: 100vw;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	border-top: 4px solid colors.$neutral-s4;

	img {
		object-fit: cover;
		border-left: 4px solid colors.$neutral-s4;
		border-right: 4px solid colors.$neutral-s4;
	}

	.panel-content {
		max-width: 600px;
	}

	@media (max-width: screens.$tablet) {
		.panel-content {
			margin: 0rem 2rem;
		}
		img {
			height: 100%;
			width: 100px;
		}
	}
	@media (min-width: screens.$tablet) {
		.panel-content {
			margin: 0rem 4rem;
		}
		img {
			height: 120%;
			width: 350px;
			transform: rotate(10deg);
		}
	}
	@media (min-width: screens.$laptop) {
		.panel-content {
			margin: 0rem 6rem;
		}
		img {
			width: auto;
			max-width: 500px;
		}
	}
	@media (min-width: screens.$desktop) {
		.panel-content {
			margin: 0rem 10rem;
		}
	}
}

.panel-thin {
	width: 100vw;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: colors.$light-text;
	background-color: colors.$accent-s4;
}
