{% extends 'base.html' %}
{% block title %}
<title>Best | 2Degrees Investing</title>
{% endblock %}


{% block content %}

<h2 class="display-4">Best Companies</h2>


<div id="company-list" class="list-group"></div>

<table id="companies-table" class="table">
    <thead class="text-center">
        <tr>
            <th scope="col">Rank</th>
            <th scope="col">Company</th>
            <th scope="col">Environmental</th>
            <th scope="col">Social</th>
            <th scope="col">Governance</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

{% endblock %}

{% block script %}
<script src="/static/js/best.js"></script>
{% endblock %}