{% extends 'base.html' %}
{% from "list/macros.j2" import list_item, padding, rank, logo, name, esg %}

{% block title %}
<title>Companies | 2Degrees Investing</title>
{% endblock %}

{% block content %}
<h2 class="display-4">Companies</h2>

{% include "list/ranking.html" %}
<div class="list mb-5">
    {% include "list/header.html" %}

    {% for company in companies %}
    {% call list_item(company, company.website) %}


    {% call rank() %}
    {{loop.index + offset}}
    {% endcall %}

    {% call logo() %}
    <img src="{{company.logo_url}}" alt="{{company.name}} Logo">
    {% endcall %}

    {% call name() %}
    <div class="h4">{{company.symbol}}</div>
    <div class="small">{{company.name}}</div>
    {% endcall %}


    {% endcall %}
    {% endfor %}

    {% include "/list/paginate.html" %}
</div>

{% endblock %}

{% block script%}
<script>
    highlightScores("companies")
</script>
{% endblock %}