{% extends 'base.html' %}
{% from "list/macros.j2" import list_item, padding, rank, logo, name, esg %}

{% block title %}
<title>Countries | 2Degrees Investing</title>
{% endblock %}


{% block content %}

<h2 class="display-4">Countries</h2>

{% include "list/ranking.html" %}

<div class="list mb-5 pb-3">
    {% include "list/header.html" %}

    {% for country in countries %}
    {% call list_item(country, "") %}


    {% call rank() %}
    {{loop.index}}
    {% endcall %}

    {% call logo() %}
    <img src="https://countryflagsapi.com/png/{{country.name}}" alt="{{country.name}} Logo">
    {% endcall %}

    {% call name() %}
    <div class="h5">{{country.name}}</div>
    {% endcall %}


    {% endcall %}
    {% endfor %}
</div>
{% endblock %}

{% block script%}
<script>
    highlightScores("countries")
</script>
{% endblock %}