{% extends 'base.html' %}

{% block title %}
<title>Login | 2Degrees</title>
{% endblock %}

{% block content %}
<div class="main container py-5">
    {% include "alerts.html" %}

    <div class="flex-col-center">
        <h2 class="join-message">Welcome back to 2Degrees.</h2>
        <h4 class="join-message">Invest in the future</h4>
    </div>


    <form method="POST" class="user-form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
        {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}

        <div class="flex-row-center">
            <button class="btn btn-accent">Login</button>
        </div>
    </form>
</div>
{% endblock %}