{% extends 'base.html' %}
{% block title %}
<title>Best | 2Degrees Investing</title>
{% endblock %}


{% block content %}

<h2 class="display-4">Companies</h2>
<div class="container pb-3">
    <div class="btn-label">Ranked by:</div>
    <a href="/companies/best/{{type}}" class="btn 
    {% if ranking.lower() == 'best' %}
        btn-accent
    {% else %}
        btn-neutral
    {% endif %}">
        Best
    </a>
    <a href="/companies/worst/{{type}}" class="btn 
    {% if ranking.lower() == 'worst' %}
        btn-accent
    {% else %}
        btn-neutral
    {% endif %}">
        Worst
    </a>
</div>

<div class="company-list">
    <div class="row">
        <div class="list-item list-header">
            <!-- PADDING -->
            <div class="col-padding"></div>
            <div class="col-sm"></div>
            <div class="col-md"></div>
            <div class="col-lg"></div>

            {% macro esg_header(letter, name)%}
            <div class="col-center col-md">
                <span class="hide-sm">
                    {{name}}
                </span>
                <span class="hide-lg">
                    {{letter}}
                </span>
                <a class='btn-sm 
                {% if type.upper() == letter %}
                btn-accent
                {% else %}
                btn-neutral
                {% endif %}' href="/companies/{{ranking}}/{{letter.lower()}}">
                    <i class="fa-solid fa-sort"></i>
                </a>
            </div>
            {% endmacro%}

            {{ esg_header(letter="E", name="Environmental")}}
            {{ esg_header(letter="S", name="Social")}}
            {{ esg_header(letter="G", name="Governance")}}
            {{ esg_header(letter="T", name="Total")}}

            <!--PADDING -->
            <div class="col-padding"></div>
        </div>
    </div>
    {% for company in companies %}
    <a class="row row-link" href="{{company.website}}">
        <div class="list-item">
            <div class="col-padding"></div>
            <!-- RANK -->
            <div class="col-center col-sm">
                <span>{{loop.index}}</span>
            </div>
            <!-- LOGO -->
            <div class="col-center col-md">
                <div class="logo">
                    <img src="{{company.logo_url}}" alt="{{company.name}} Logo">
                </div>
            </div>
            <!-- COMPANY -->
            <div class="col-start col-lg">
                <div class="h4">{{company.symbol}}</div>
                <div class="small">{{company.name}}</div>
            </div>
            <!-- ENVIRONMENTAL -->
            <div class="col-center col-md">
                <div class="esg-bubble esg-bubble-environmental">
                    <span class="text-white">
                        {{company.environmental_score}}
                    </span>
                </div>
            </div>
            <!-- SOCIAL -->
            <div class="col-center col-md">
                <div class="esg-bubble esg-bubble-social">
                    <span class="text-white">
                        {{company.social_score}}
                    </span>
                </div>
            </div>
            <!-- GOVERNANCE -->
            <div class="col-center col-md">
                <div class="esg-bubble esg-bubble-governance">
                    <span class="text-white">
                        {{company.governance_score}}
                    </span>
                </div>
            </div>
            <!-- TOTAL -->
            <div class="col-center col-md">
                <div class="esg-bubble esg-bubble-total">
                    <span class="text-white">
                        {{company.total_score}}
                    </span>
                </div>
            </div>
            <div class="col-padding"></div>
        </div>

    </a>
    {% endfor %}
</div>

{% endblock %}

{% block script %}
<!-- <script src="/static/js/best.js"></script> -->
{% endblock %}