{% extends 'base.html' %}
{% from "list/macros.j2" import list_item, padding, rank, logo, name, esg %}

{% block title %}
<title>Sectors | 2Degrees Investing</title>
{% endblock %}


{% block content %}

<h2 class="display-4">Sectors</h2>

{% include "list/ranking.html" %}

<div class="list mb-5 pb-3">
    {% include "list/header.html" %}

    {% for sector in sectors %}
    {% call list_item(sector, "") %}


    {% call rank() %}
    {{loop.index}}
    {% endcall %}

    {% call logo() %}
    <i class="fa-solid {{sector.logo_class}} h4"></i>
    {% endcall %}

    {% call name() %}
    <div class="h5">{{sector.name}}</div>
    {% endcall %}


    {% endcall %}
    {% endfor %}
</div>
{% endblock %}

{% block script%}
<script>
    highlightScores("sectors")
</script>
{% endblock %}