{% from "list/macros.j2" import padding, esg_header %}

{% macro esg_header(letter, name)%}
<div class="flex-col-center col-md">
    <span class="hide-sm">
        {{name}}
    </span>
    <span class="hide-lg">
        {{letter}}
    </span>
    <a class='btn-sm 
    {% if type.upper() == letter %}
    btn-accent
    {% else %}
    btn-neutral
    {% endif %}' href="{{href}}/{{ranking}}/{{letter.lower()}}">
        <i class="fa-solid fa-sort"></i>
    </a>
</div>
{% endmacro%}

<div class="row">
    <div class="list-item list-header">
        {{padding()}}

        <!-- TABLE KEYS -->
        <div class="col-combined flex-row-center">
            <div class="flex-col-center pt-5">
                <div class="key-best"></div>
                <div class="small">Best 10%</div>
            </div>
            <div class="flex-col-center pt-5">
                <div class="key-worst"></div>
                <div class="small">Worst 10%</div>
            </div>
        </div>
        <!-- ESG RATINGS -->
        {{ esg_header(letter="E", name="Environmental")}}
        {{ esg_header(letter="S", name="Social")}}
        {{ esg_header(letter="G", name="Governance")}}
        {{ esg_header(letter="T", name="Total")}}

        {{padding()}}
    </div>
</div>