<div class="row">
    <div class="list-item">
        {% if page > 0 %}
        <a href="{{href}}/{{ranking}}/{{type}}?page={{page-1}}" class="btn btn-neutral"><i
                class="fa-solid fa-arrow-left"></i></a>
        {% endif %}

        <div class="btn-label">Page {{page + 1}} of {{page_count}}</div>

        {% if page + 1 < page_count %} <a href="{{href}}/{{ranking}}/{{type}}?page={{page+1}}" class="btn btn-neutral">
            <i class="fa-solid fa-arrow-right"></i></a>
            {% endif %}
    </div>
</div>