<div class="container mb-2">
    <div class="btn-label">Ranked by:</div>
    <a href="{{href}}/best/{{type}}" class="btn 
            {% if ranking.lower() == 'best' %}
                btn-accent
            {% else %}
                btn-neutral
            {% endif %}">
        Best
    </a>
    <a href="{{href}}/worst/{{type}}" class="btn 
            {% if ranking.lower() == 'worst' %}
                btn-accent
            {% else %}
                btn-neutral
            {% endif %}">
        Worst
    </a>
</div>